@import url("https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  box-sizing: border-box;
  background: rgb(20, 28, 47); 
  color: white; 
}


.workings{
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  
  box-sizing: border-box;
  
  margin-top: 10%;
}

.main-header{
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  text-align: center;
}

.container{
    max-width: 900px;
    margin: auto;
    overflow: auto; 
    padding: 0 2rem;  
}
.box{
  height: 50px;
  background-color: rgb(30, 41, 70);
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 25px; 
  overflow: hidden;
} 
.box > i {
  font-size: 20px;
  color: rgb(25, 66, 126);
}
.box > input{
  
  flex: 1;
  height: 40px;
  border: none;
  outline: none;
  font-size: 18px;
  /* padding-left: 10px;  */
  background-color: rgb(30, 41, 70);
  
}

button{
  outline: none;
  color: white;
  background-color: rgb(4, 127, 254);
  border-radius: 10px;
  padding: 3px;
  border: none;
  margin-right: 2em; 
}
@media (max-width: 700px){
  .button{
      display: block;
  }
} 
.second-box{
  padding: 1em;
  margin-top: 30px;
  border-radius: 20px;
  background-color: rgb(30, 41, 70);
}
 
.first-row img{
 
  width: 9em;
  height: auto;
  border-radius: 50%;
  margin-top: 5px;
  
} 
.picture-div{
  text-align: center;
} 
.first-right-column{
  display: flex;
  justify-content: space-between;
  text-align: center;
}   
.login-name{
  color: blue;
}
.number-div{
  border-radius: 10px;
  padding: 5px;
  background-color: rgb(20, 28, 47);
  margin-top: 2em;
}
.numbers-header{
  display: flex;
  justify-content: space-between;
}
.number{
  display:flex;
  justify-content: space-between;
}
.followers-number, .following-number {
  margin-right: 10px;
}
.last-div{
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}
.first-last-div{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.twitter {
  float: right;
}
.date-joined{
  float: right;
}